# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: 'ubuntu-latest' # ou une autre image valide


variables:
  - name: RgGroup
    value: 'groupe1'
  - name: RgLocation
    value: 'East US'

steps:

- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Azure subscription 1(c24d5ea5-e90d-4220-908f-60b4f697f89b)'
    subscriptionId: 'c24d5ea5-e90d-4220-908f-60b4f697f89b'
    action: 'Create Or Update Resource Group'
    resourceGroupName:  groupe1
    location: RgLocation
    templateLocation: 'Linked artifact'
    csmFile: 'https://github.com/Jadyle/DevEnv-UQAC/blob/main/VMss/deployvmss.json'
    csmParametersFile: 'https://github.com/Jadyle/DevEnv-UQAC/blob/main/VMss/deployvmss.parameters.json'
    deploymentMode: 'Validation'